@import "_fonts.scss";
@import "_vars.scss";
body{
	margin:0;
	padding:0;
	color:#ffffff;
	font-family: $default-font;
	font-size:16px;
	min-width: 320px;
	max-width:1900px;
	line-height:1.75;
}
.main-header{
	background-image: url("../img/top-bg.jpg");
	color:#fff;
	min-height:500px;
	height: 100vh;
	padding:44px 45px;

}
.header__header {
	display: flex;
	justify-content: space-between;
	a{
		text-decoration: none;
		color:white;
		max-width:200px;
	}
	.logo {
		display: block;
		img {
			width: 125px;
		}
	}
}
section,header{
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
